h2{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image{
    height: 200px;
    width: 200px;
}

.title{
    text-align: center;
    width: 100%;
}

.price{
    text-align: center;
    width: 100%;
}